[Unit]
Description=Restart amazing-data-http at market close

[Timer]
OnCalendar=Mon..Fri 15:25:00
Persistent=false

[Install]
WantedBy=timers.target
